<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nageoffer.shortlink.project.dao.mapper.ShortLinkDeviceStatsMapper">
    <insert id="insertStatsOrUpdate">
        INSERT INTO t_link_device_stats (
            full_short_url,
            gid,
            date,
            cnt,
            device,
            create_time,
            update_time,
            del_flag
        ) VALUES (
                     #{fullShortUrl},
                     #{gid},
                     #{date},
                     #{cnt},
                     #{device},
                     now(),
                     now(),
                     0
                 )
        ON DUPLICATE KEY UPDATE
                             cnt = cnt + #{cnt},
                             update_time = NOW();

    </insert>
    <select id="selectListByDevice"
            resultType="com.nageoffer.shortlink.project.dao.entity.ShortLinkDeviceStatsDO">
        select sum(cnt) as cnt,device from t_link_device_stats
        where full_short_url = #{fullShortUrl}
          and gid = #{gid} and date between #{start} and #{end} and del_flag = 0
        group by device
    </select>
</mapper>