<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nageoffer.shortlink.project.dao.mapper.ShortLinkOsStatsMapper">
    <insert id="insertStatsOrUpdate">
        INSERT INTO t_link_os_stats (
            full_short_url,
            gid,
            date,
            cnt,
            os,
            create_time,
            update_time,
            del_flag
        ) VALUES (
                     #{fullShortUrl},
                     #{gid},
                     #{date},
                     #{cnt},
                     #{os},
                     NOW(),
                     NOW(),
                     0
                 )
        ON DUPLICATE KEY UPDATE
                             cnt = cnt + #{cnt},
                             update_time = NOW();
    </insert>
</mapper>